/* CSS Added by Jake */

input[type="text"],
input[type="email"],
input[type="tel"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact .php-email-form label {
    width: 30%;
    font-size: 18px;
    vertical-align: top;
    padding-bottom: 3px;
}

.contact .php-email-form .submit-button {
    padding-top: 15px;
}

.contact .php-email-form .checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.contact .php-email-form .g-recaptcha {
    margin: auto;
    width: 50%;
}

.contact .php-email-form input {
    height: auto;
}